<style>
.container{
    border:2px solid brown;
    border-radius:8px;
    background-color: mediumaquamarine;
    border-bottom:2px solid black;
}
.item1{
    border:1px solid white;
    text-align:center;
    text-decoration:underline;
    background-image:linear-gradient(to right,red,green,yellow);
}
.item2{
    border:3px solid red;
    background-color: lightsteelblue;
    border-radius: 5px;
    width:500px;
    height:80px;
    margin-left:27%;
    text-align: center;
    padding-left:30px;
    padding-right:30px;
}
.container2{
    border:2px solid brown;
    border-radius:8px;
    background-color: mediumaquamarine;
    border-bottom:2px solid black;
}
.box{
    border:2px solid blue;
    border-radius:5px ;
    background-color:mediumturquoise;
    display:inline-block;
    width:350px;
    height:80px;
    font-weight: bolder;   
}
.box1{
    margin-left: 30px;
}
.box2{
    margin-left: 60px;
}
.box3{
    margin-left: 60px;
}
.box4{
    margin-left:36%;
}
.item3{
    border:1px solid black;
    padding-bottom: 20px;
    text-align:center;
    text-decoration:underline;
    text-decoration-color: red;
    background-image:linear-gradient(to left,red,yellow,red);
}
.item4{
    border:2px solid blue;
    background-image:radial-gradient(blue,rgb(110, 110, 189),green);
    width:100%;
    height:200px;    
    display:flex;
    justify-content:space-around;
}
.BOX{
    border:2px solid brown;
    color:brown;
    border-radius:5px ;
    background-color:yellow;
    display:inline-block;
    width:160px;
    height:80px;
    font-weight: bolder; 
    text-align: center;
    padding-top:20px;
    margin-top:43px;
    text-decoration: underline;
    text-decoration-color: brown;
}
.grid-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    border:1px solid black;
    grid-gap:20px;
}
.grid{
    font-weight: bolder;
}
.grid1{
    border:1px solid red;
    color:white;
    background-color: red;
    grid-row: 1/2;
    grid-column:1/5;
    text-align: center;
}
.grid2{
    border:1px solid rgb(88, 161, 88);
    color:white;
    background-color:rgb(88, 161, 88);
    grid-row: 2/3;
    grid-column:1/2;
    text-align: center;
}
.grid3{
    border:1px solid rgb(117, 151, 214);
    color:white;
    background-color: rgb(117, 151, 214);
    grid-row: 2/3;
    grid-column:2/3;
}
.grid4{
    border:1px solid rgb(49, 30, 155);
    color:white;
    background-color: rgb(49, 30, 155);
    grid-row: 2/3;
    grid-column:3/4;
}
.grid5{
    border:1px solid black;
    color:white;
    background-color:black;
    grid-row: 2/4;
    grid-column:4/5;
}
.grid6{
    border:1px solid rgb(236, 160, 17);
    color:white;
    background-color: rgb(236, 160, 17);
    grid-row:3/4;
    grid-column:1/4;
}
.grid7{
    border:1px solid cyan;
    color:black;
    background-color:cyan;
    grid-row:4/5;
    grid-column:1/5;
    text-align: center;
}
</style>